@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

$theme-font: 'Muli', sans-serif;
$main-color: #8f57fd;

body {
  background: $main-color;
  font-family: $theme-font;
}